aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
alembic
attrs
bidict
blinker
cachetools
certifi
cffi
charset-normalizer
colorama
cryptography
dnspython
email-validator
Flask
Flask-Dance
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SocketIO
Flask-SQLAlchemy
Flask-WTF
frozenlist
google-auth
aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
alembic
attrs
bidict
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
cryptography
dnspython
email-validator
Flask
Flask-Dance
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SocketIO
Flask-SQLAlchemy
Flask-WTF
frozenlist
google-auth
google-auth-httplib2
google-auth-oauthlib
greenlet
gunicorn
h11
httplib2
idna
itsdangerous
Jinja2
Mako
MarkupSafe
multidict
oauthlib
packaging
paystack
Pillow
propcache
pyasn1
pyasn1_modules
pycparser
PyJWT
pyotp
pyparsing
pypng
python-dotenv
python-engineio
python-socketio
qrcode
requests
requests-oauthlib
rsa
setuptools
simple-websocket
simplejson
SQLAlchemy
twilio
typing_extensions
urllib3
URLObject
Werkzeug
wheel
wsproto
WTForms
yarl
eventlet
redis
